#login-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
}

#login-button:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
}

#login-button:hover .site-nav__link {
    color: var(--color-blanco);
    display: inline-flex;
    align-items: center;
}

#login-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}


.search {
    background-color: var(--color-blanco);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: 80%;
    box-shadow: 0 4px 8px var(--color-borde-tenue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.search__label {
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 2rem;

}

.search__input {
    width: 85%;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    align-self: flex-start;
    margin-left: 2rem;
}

.search__input:focus {
    outline: none;
    border-color: var(--color-focus);
    box-shadow: 0 0 5px var(--color-focus);
}

.search__notification {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-primario);
    text-align: center;
    width: 100%;
    display: none;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: 2rem;
    justify-items: center;

}



.featured-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    text-align: center;
    overflow: hidden;
    background-color: var(--color-blanco);
    height: 100%;
    min-width: 20rem;
    max-width: 20rem;
}

.featured-img {
    width: 100%;
    height: 14rem;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* clases para disabled sin stock */
.img-disabled {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-disabled img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    opacity: 0.75;
    /* imagen más tenue */
    filter: grayscale(80%);
    /* convierte a escala de grises */
    pointer-events: none;
    /* no clickeable */
}

.product-available {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1rem;
    margin: 0.1rem auto; 
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    border-radius: var(--border-radius);
    max-width: 9rem;
    height: 2rem;
}

/* Disponible  */
.product-available.yes {
    background-color: var(--color-verde)
        /* verde oscuro */
}

/* Sin stock  */
.product-available.no {
    background-color: var(--color-borde);
    /* gris medio */
}

.featured-products img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.featured-products:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 12px var(--color-borde-tenue);

}

.product-category {
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--color-borde);
    border-radius: var(--border-radius);
}

.product-name {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.product-description {
    font-size: 1rem;
    margin: 1rem;
    flex-grow: 1;
}

.product-price {
    color: var(--color-primario);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.featured-products .buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal para el carrito */
.modal-window {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: var(--border-radius);
}


.modal-img img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.modal-content-div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 0;
    border-top: 1px solid var(--color-borde);
    border-bottom: 1px solid var(--color-borde);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* boton modal continuar comprando */

#btn-continue-shopping {
    width: auto;
}

.modal-window__title {
    color: var(--color-primario);

}

.modal-window__message {
    color: var(--color-texto);
    font-size: 1.2rem;
    margin: 0;
}

/* Clase para Boton que cierra el modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    padding-bottom: 2px;

}

.close:hover,
.close:focus {
    color: var(--color-blanco);
    background-color: var(--color-focus);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}