@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-borde-tenue: rgba(221, 221, 221, 0.3);
    --color-focus: #ff4500;
    --color-primario: #ff6347;
    --border-radius: 8px;
    --color-verde: #198754;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    background-color: var(--color-fondo);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

main {
    grid-row: 2;
    grid-column: 2;
    padding-top: 5.5rem;
}


.site-header {
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: var(--color-blanco);
    box-shadow: 0 4px 6px var(--color-borde-tenue);
    z-index: 1000
}

.site-header__brand {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primario);
    transition: all 0.1s ease;
    margin-left: 22rem;

}

.site-header__brand:hover {
    color: var(--color-focus);
}

.site-header__brand:active {
    transform: translateY(1px);
}

.site-nav__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    padding-right: 5rem;
}

.site-nav__item {
    align-items: center;
    margin: 1rem 1.5rem;
    padding-top: 0.5rem;
}

/* links main header */
.site-nav__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    transition: all 0.1s ease;
}


.site-nav__link:hover {
    color: var(--color-focus)
}

.site-nav__link:active {
    transform: translateY(2px);
}

.products__heading {
    color: var(--color-primario);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.25rem;
    padding: 3rem 3rem 1rem 3rem;
}

/* Contador del carrito en el hader  */
.cart-badge {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    font-weight: bold;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: 0.3rem;
    visibility: hidden;
    /* oculto por defecto */
}


.sidebar {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100vh - 5rem);
    position: sticky;
    top: 5rem;
    width: fit-content;
    background-color: var(--color-blanco);
    box-shadow: 4px 0 6px var(--color-borde-tenue);
    min-width: 20rem;
    max-width: 20rem;
}

/* categorias */


.categories__heading {
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.25rem;
    padding: 3rem 3rem 1rem 2rem;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem 2rem 0.8rem 2rem;
    min-width: 21rem;
}

/* links de categorías */
.categories a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    transition: all 0.2s ease;
    padding: 0.75rem 1.25rem;
    border-left: 3px solid transparent;
    transition: all 0.2s ease;
}

.categories:hover {
    color: var(--color-focus);
    border-left: 3px solid var(--color-focus);
    background-color: var(--color-borde-tenue);
    box-shadow: 4px 0 6px var(--color-borde-tenue);
}

/* Estilo de activo para la categoria clickeada */

#category-active {
    color: var(--color-focus);
    border-left: 3px solid var(--color-focus);
    background-color: var(--color-borde-tenue);
    box-shadow: 4px 0 6px var(--color-borde-tenue);
}

.categories:active {
    transform: translateY(3px);
}

/* Botones */

.btn-cart {
    flex: 1;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
}

.btn-disabled {
    flex: 1;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-borde-tenue);
    border-radius: var(--border-radius);
    border: 1.5px solid var(--color-borde);
    cursor: not-allowed;
    pointer-events: none;
}


.btn-details {
    flex: 1;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
}


.btn-details:hover,
.btn-cart:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
    color: var(--color-blanco);
}

.btn-details:active,
.btn-cart:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

.btn-cart-link {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    border: 1.5px solid var(--color-primario);
    text-decoration: none;
    color: var(--color-blanco);
    transition: all 0.1s ease;
    color: var(--color-texto);
}

.btn-cart-link:hover {
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
    color: var(--color-blanco);
}

.btn-cart-link:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

.site-footer {
    grid-row: 3;
    grid-column: 1 / 3;
    width: 100%;
    background-color: var(--color-blanco);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--color-borde);
}

/* boton de sidebar desplegable */

/* Botón de menú */
#menu-toggle {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: 1.5px solid var(--color-primario);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 1rem;
    display: none;
    /* oculto en desktop */
}

/* Hover y active */
#menu-toggle:hover {
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
}

#menu-toggle:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    z-index: 998;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



/* Mostrar en pantallas chicas */
@media (max-width: 768px) {
    #menu-toggle {
        display: inline-block;
    }
}


/* Media queries  */

/* Laptop y tablets horizontales */
@media (max-width: 992px) {
    .site-header {
        /* flex-direction: column; */
        padding: 1rem;
    }

    .site-nav__list {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
    }

    .site-header__brand {
        margin-left: 0;
    }
}

/* Tablets verticales */
@media (max-width: 768px) {


    #menu-toggle {
        display: block;
    }

    .site-header {
        justify-content: flex-start;
        gap: 1rem;
    }

    .site-header__brand {
        text-align: center;
    }

    .divider {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 70%;
        height: 100%;
        background-color: var(--color-blanco);
        box-shadow: 4px 0 6px var(--color-borde-tenue);
        transition: left 0.3s ease;
        z-index: 999;
    }

    .sidebar.active {
        left: 0;
    }

    .categories {
        width: 100%;
        min-width: 100%;
        padding: 0;
    }

    .categories a {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
    }

}

/* fuente de los menus para moviles */
@media (max-width: 600px) {
    .cart-badge {
        font-size: 0.7rem;
        width: 1.2rem;
        height: 1.2rem;
    }

    .site-nav__item {
        margin: 0 0.5rem;
        padding: 0;
    }

    .site-nav__link {
        font-size: 1.2rem;
    }
}

/* Móviles grandes */
@media (max-width: 576px) {
    body {
        grid-template-columns: 1fr;
    }

    .site-header h1 {
        font-size: 1.5rem;
        flex-direction: column;
        gap: 0;
    }

}